@inherits LayoutComponentBase

<MyMudThemeProvider/>
<MyMudProviders/>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <div style="padding-bottom: 1em"></div>
    </main>
</div>

<div id="blazor-error-ui">
    Wystąpił niespodziewany błąd.
    <a href="" class="reload">Odśwież</a>
    <a class="dismiss">🗙</a>
</div>