@page "/edit-reservation/{id:int}"
@using RoomReservations.Data
@using RoomReservations.Models
@using Microsoft.EntityFrameworkCore
@inject IReservationService ReservationService
@inject IJSRuntime JsRuntime

<h3>EditReservation</h3>

<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h6">Edit Reservation</MudText>
        <MudText>Reservation ID: @_reservationToEdit.Id</MudText>
        <MudText>Customer Name: NYI </MudText>
        <MudDateRangePicker Label="Reservation Date Picker" @bind-DateRange="_dateRange" MinDate="@DateTime.Now.AddDays(-1)" PickerClosed="DatePickerClosed"/>
        <MudText>Rooms:</MudText>
        @foreach (var rr in _reservationToEdit.RoomReservations)
        {
            <MudText>"@rr.Room.Name"</MudText>
        }
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveChanges">Save</MudButton>
        <div style="flex-grow: 1;"></div>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="CancelChanges">Cancel</MudButton>
    </MudCardActions>
    <Alert @ref="_alert"></Alert>
</MudCard>

@code {
    [Parameter] public int Id { get; set; }

    Reservation _reservationToEdit = new();
    private DateRange _dateRange = new();

    private Alert _alert = new();

    protected override Task OnInitializedAsync()
    {
        _reservationToEdit = ReservationService.CreateReservationQuery().WhereId(Id).WithRooms().ToListAsync().Result.First();
        _dateRange.Start = _reservationToEdit.StartDate;
        _dateRange.End = _reservationToEdit.EndDate;
        return base.OnInitializedAsync();
    }

    private async void DatePickerClosed()
    {
        // Check if rooms are available at the given dates. 
        var collidingReservations = await ReservationService.ReservationsForAnyOfRoomsInDateRange(
            _reservationToEdit.RoomReservations.Select(rr => rr.Room).ToList(),
            _dateRange.Start ?? _reservationToEdit.StartDate,
            _dateRange.End ?? _reservationToEdit.EndDate).ToListAsync();
        collidingReservations = collidingReservations.Where(r => r.Id != _reservationToEdit.Id).ToList(); // Remove current reservation from the list

        // If not, show alert
        if (collidingReservations.Count > 0)
        {
            var collidingRoomNames = string.Join(", ", collidingReservations.SelectMany(r => r.RoomReservations.Select(rr => rr.Room.Name)).Distinct().ToList());
            _alert.ShowAlert(Severity.Error, $"Room '{collidingRoomNames}' is not available at the given dates");
            return;
        }

        // If rooms are available, update the reservation dates
        _reservationToEdit.StartDate = _dateRange.Start ?? _reservationToEdit.StartDate;
        _reservationToEdit.EndDate = _dateRange.End ?? _reservationToEdit.EndDate;
    }

    private async void SaveChanges()
    {
        var wasSuccessful = await ReservationService.UpdateReservationAsync(_reservationToEdit);

        if (!wasSuccessful)
        {
            // Show error alert
            _alert.ShowAlert(Severity.Error, "An error occured while updating the reservation");
            return;
        }

        // Show success alert
        _alert.ShowAlert(Severity.Success, "Reservation updated successfully");
    }

    private async void CancelChanges()
    {
        // Navigate to previous page user was on using JS
        await JsRuntime.InvokeVoidAsync("history.back");
    }

}