@inject QueryFactory QueryFactory
@page "/list-reservations"
@using Microsoft.EntityFrameworkCore
@using RoomReservations.Models
@using RoomReservations.Data
@using Microsoft.AspNetCore.Authorization
@inject SharedMethodsService SharedMethodsService
@attribute [Authorize]

@if (!_showList)
{
    <MudText Typo="Typo.h2">Coś poszło nie tak.</MudText>
    <MudAlert Severity="Severity.Error">@_listLoadError</MudAlert>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="SharedMethodsService.GoBackAsync">Cofnij</MudButton>
    return;
}


<h3>Twoje rezerwacje:</h3>
@foreach (var reservation in _reservations)
{
    <ViewReservation ReservationToDisplay="reservation"></ViewReservation>
    <br/>
}


@code {
    private List<Reservation> _reservations = [];

    private bool _showList;
    private string _listLoadError = "Wystąpił nieznany błąd";

    protected override async Task OnInitializedAsync()
    {
        // please note that we cannot use _alert.ShowAlert() here because it is not yet initialized

        // Check if the user is logged in
        var (user, error) = await SharedMethodsService.GetCurrentUserAsync();

        if (user is null)
        {
            _listLoadError = error == GetCurrentUserError.UserNotLoggedIn ? "Zaloguj się, aby przeglądać rezerwacje" : "Wystąpił nieznany błąd";
            return;
        }

        _reservations = await QueryFactory.Create<Reservation>()
            .Include(r => r.RoomReservations)
            .ThenInclude(rr => rr.Room)
            .Where(r => r.UserId == user.Id)
            .OrderBy(r => r.StartDate)
            .ToListAsync();
        _showList = true;
    }

}