@inject IReservationService ReservationService
@page "/list-reservations"
@using RoomReservations.Models
@using RoomReservations.Data

<h3>List of all Reservations</h3>

@foreach (var reservation in _reservations)
{
    <ViewReservation ReservationToDisplay="reservation"></ViewReservation>
    <br/>
}


@code {
    private List<Reservation> _reservations = [];

    protected override async Task OnInitializedAsync()
    {
        _reservations = await ReservationService.CreateReservationQuery().WithRooms().ExecuteAsync();
    }

}