@page "/rooms"
@using RoomReservations.Models
@using RoomReservations.Data
@attribute [StreamRendering]
@inject IRoomService RoomService

<h3>Nasze wspaniałe pokoje</h3>

@if (_rooms == null)
{
    <p>
        <em>Ładowanie...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena za noc</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in _rooms)
        {
            <tr>
                <td>
                    <img src=@room.ImageUrl alt="Brak zdjęcia"/>
                </td>
                <td>@room.Name</td>
                <td>@room.Description</td>
                <td>@room.PricePerNight</td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private List<Room> _rooms = [];

    protected override async Task OnInitializedAsync()
    {
        _rooms = await RoomService.GetRoomsAsync();
    }

}